.light {
  --primary: #2978b5;
  --bg: #f5f6f7;
  --bg-alt: #ffffff;
  --fg: #444;
  --shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

.dark {
  --primary: #90a0d9;
  --bg: #23283e;
  --bg-alt: #161c2954;
  --fg: #bdbddd;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-style: inherit;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  transition: background-color 0.2s;
}

html {
  scroll-behavior: smooth;
}

.container {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 1100px;

  @include media(mobile) {
    text-align: left;
  }
}

section {
  margin-bottom: 4rem;
}

.section-title {
  position: relative;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  margin: 2.5rem 0rem;

  &::after {
    content: "";
    border-bottom: 0.2rem solid var(--primary);
    display: block;
    margin: 0.1rem auto;
    width: 3em;
  }
}
