.projects {
  .project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;

    .project-card {
      position: relative;
      background-color: var(--bg-alt);
      height: 15rem;
      overflow: hidden;
      box-shadow: var(--shadow);

      img {
        transition: transform 0.4s;
      }

      &:hover {
        .project-info {
          opacity: 1;
        }

        img {
          transform: scale(1.05);
        }
      }
    }

    .project-info {
      position: absolute;
      inset: 0;
      @include flex(center, center);
      flex-direction: column;
      background-color: var(--bg);
      text-align: center;
      padding: 1.5rem;
      opacity: 0;
      transition: 0.45s opacity;
      box-shadow: var(--shadow);

      p {
        margin: 0.5rem 0rem;
        font-weight: 500;
      }

      span {
        font-size: 0.85rem;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    // object-fit: cover;
  }

  .project-title {
    margin-bottom: 1.5rem;
  }

  .project-stack {
    margin: 1rem 0;
    @include flex(center, center);
    flex-wrap: wrap;
    gap: 0.3rem;
  }

  span {
    margin-right: 0.5rem;
  }

  .cta {
    @include flex(center, center);
    gap: 1rem;
  }
  a {
    font-size: 1.2rem;
  }
}
